<p>
  Type name:
  <strong><%= @subcategory.name %></strong>
</p>
<p>
  Category description:
  <%= @subcategory.description %>
</p>
<%= link_to 'All types', category_subcategories_path(@subcategory.category) %>|
<%= link_to 'Destroy', [@subcategory],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
