<p>
  Category name:
  <strong><%= @category.name %></strong>
</p>
<p>
  Category description:
  <%= @category.description %>
</p>
<%= link_to 'All brands', brands_path %>|<%= link_to 'All categories', brand_categories_path %>
